#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
}
#logo{
    margin: -1px 15px;
}
#logo img{
    height: 91px;
    margin: 3px 5px;
}
#navbar ul{
    display:flex;
}

#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
}
#navbar ul li{
    list-style: none;
    font-size:3.3rem;
}
#navbar ul li a{
    color:white;
    display:block;
    padding:3px 200px;
    border-radius:20px;
    text-decoration:none;

}
#navbar ul li a:hover{
    color:rgb(13, 97, 19);
    background-color:rgb(200, 249, 3);

}
body{
    background: linear-gradient(135deg, #2d4b68, #0a0a0a);
}